.heading-animate {
  animation: slideUpReverse 6s infinite 0s cubic-bezier(.12, .72, .24, .97)
}

@keyframes slideUpReverse {
  0% {
      transform: translateY(0%)
  }

  40% {
      transform: translateY(0%)
  }

  50% {
      transform: translateY(-100%)
  }

  90% {
      transform: translateY(-100%)
  }

  100% {
      transform: translateY(0%)
  }
}